@model MVCBasicsAssignment1.Models.Health
@{
    ViewData["Title"] = "FeverCheck";
}

<h1>Enter you temperature</h1>
<form asp-action="FeverCheck" asp-controller="Health" method="post" class="form-group">
    <label asp-for="BodyTemperature"></label>
    <input asp-for="BodyTemperature" placeholder="Temp" />
    <span asp-validation-for="BodyTemperature" style="color:red"></span>
    <br />
    <input type="submit" class="btn btn-secondary" value="Check fever" />

</form>


@if (ViewBag.FeverResponse != null)
{

    <h3 class="font: ">
        @ViewBag.FeverResponse
    </h3>
}
