
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<table class="table-active">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                MVCBasicsAssignment1
            </td>
            <td>
                https://github.com/teresiagable/MVCBasicsAssignment1
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>