<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <img src="~/img/logo.jpg" alt="Gable logo" />
    </header>
    <div>
        @RenderBody()
    </div>
    <footer></footer>
</body>
</html>
